<launch>

  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find multinav_turtlebot3)/maps/emptyHouse_map/empty_house.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="true"/>

  <arg name="first_tb3"  default="tb3_0"/>
  <arg name="second_tb3" default="tb3_1"/>
  <arg name="third_tb3"  default="tb3_2"/>
  <arg name="fourth_tb3" default="tb3_3"/>

  <arg name="first_tb3_x_pos" default=" 0.0"/>
  <arg name="first_tb3_y_pos" default=" 0.0"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 0.0"/>

  <arg name="second_tb3_x_pos" default=" 0.0"/>
  <arg name="second_tb3_y_pos" default=" 0.0"/>
  <arg name="second_tb3_z_pos" default=" 0.0"/>
  <arg name="second_tb3_yaw"   default=" 0.0"/>

  <arg name="third_tb3_x_pos" default=" 0.0"/>
  <arg name="third_tb3_y_pos" default=" 0.0"/>
  <arg name="third_tb3_z_pos" default=" 0.0"/>
  <arg name="third_tb3_yaw"   default=" 0.0"/>

  <arg name="fourth_tb3_x_pos" default=" 0.0"/>
  <arg name="fourth_tb3_y_pos" default=" 0.0"/>
  <arg name="fourth_tb3_z_pos" default=" 0.0"/>
  <arg name="fourth_tb3_yaw"   default=" 0.0"/>
 
  <param name="/use_sim_time" value="true"/>

  <!-- First tb3 group launch -->
  <group ns = "$(arg first_tb3)">
   <param name="tf_prefix" value="$(arg first_tb3)"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
   <param name="frame_id" value="/map" />
  </node>

   <!-- AMCL -->
   <include file="$(find multinav_turtlebot3)/launch/amcl_tb3_0.launch"/>

   <!-- Move base -->
   <include file="$(find multinav_turtlebot3)/launch/move_base_tb3_0.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>
  </group>

  <!-- Second tb3 group launch -->
  <group ns = "$(arg second_tb3)">
   <param name="tf_prefix" value="$(arg second_tb3)"/>

   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
   </node>

   <!-- AMCL -->
   <include file="$(find multinav_turtlebot3)/launch/amcl_tb3_1.launch"/>

   <!-- Move base -->
   <include file="$(find multinav_turtlebot3)/launch/move_base_tb3_1.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>
  </group>

  <!-- Third tb3 group launch -->
  <group ns = "$(arg third_tb3)">
   <param name="tf_prefix" value="$(arg third_tb3)"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
   <param name="frame_id" value="/map" />
  </node>

   <!-- AMCL -->
   <include file="$(find multinav_turtlebot3)/launch/amcl_tb3_2.launch"/>

   <!-- Move base -->
   <include file="$(find multinav_turtlebot3)/launch/move_base_tb3_2.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>
  </group>

  <!-- Fourth tb3 group launch -->
  <group ns = "$(arg fourth_tb3)">
   <param name="tf_prefix" value="$(arg fourth_tb3)"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
   <param name="frame_id" value="/map" />
  </node>

   <!-- AMCL -->
   <include file="$(find multinav_turtlebot3)/launch/amcl_tb3_3.launch"/>

   <!-- Move base -->
   <include file="$(find multinav_turtlebot3)/launch/move_base_tb3_3.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>
  </group>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find multinav_turtlebot3)/rviz/s2.rviz"/>
  </group>

</launch>
